<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aircraft Tracking</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css"
          crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <meta http-equiv="refresh" content="5">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Tracking Information</a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <table class="table">
                <thead>
                <tr>
                    <th>ICAO</th>
                    <th>Callsign</th>
                    <th>Messages</th>
                    <th>Last message</th>
                    <th>Altitude</th>
                    <th>Lat</th>
                    <th>Lon</th>
                    <th>Speed (kt)</th>
                    <th>Heading (deg)</th>
                    <th>Vert(ft/min)</th>
                    <th>Speed Type (G/A)</th>
                </tr>
                </thead>
                <tbody>

                {% for aircraft in aircrafts %}
                    <tr class="{{ aircraft.getTrackingStatus() | torowclass }}">
                        <td>{{ aircraft.icao }}</td>
                        <td>{{ aircraft.callsign }}</td>
                        <td>{{ aircraft.messages | tolen }}</td>
                        <td>{{ aircraft.getLatency() | toelapsed }}</td>
                        <td>{{ aircraft.altitude }}</td>
                        <td>{{ aircraft.lat }}</td>
                        <td>{{ aircraft.lon }}</td>
                        <td>{{ aircraft.speed }}</td>
                        <td>{{ aircraft.heading }}</td>
                        <td>{{ aircraft.vspeed }}</td>
                        <td>{{ aircraft.sptype }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <img src="/map"/>
        </div>
    </div>
</div>


</body>
</html>